.section-episodios{
    @extend %headlines;   
    display: flex;
    flex-direction: column; 
    color: $font-color-2;

    h2{
        padding: 40px 0 21px 16px;
    }
    .fondo-azul{
        width: 100.1%;
        height: 1203.5px;
        background:linear-gradient(225deg, $bg-gradient-1 0%, $bg-gradient-2 100%);
        clip-path: polygon(0 2.5%, 100% 0%, 100% 97.5%, 0% 100%);

        iframe{
            padding-left: 11px;
            margin: 0;
            width: 298px;
            height: 235px;
        }
    }
}

//////////

@media screen and (min-width: 730px){

    .section-episodios{
        height: 992px;
        font-size: 48px;
        display: flex;
        text-align: center;        

        .fondo-azul{  
            width: 100.1%;
            background:linear-gradient(225deg, $bg-gradient-1 0%, $bg-gradient-2 100%);
            clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
            
            h2{
                text-align: left;
                padding: 156px 0 46px 200px;
            }
            
            iframe{
                padding:0 2% 5% 2%;
                width: 584px;
                height: 232px;
            }
        }
    }
}