// Font Types:
$font-ibm-plex-mono:'IBM Plex Mono';
$font-ibm-plex-sans:'IBM Plex Sans';

// Font Colours:
$font-color-1:#060A24;
$font-color-2:#FFFFFF;
$font-color-hamb-hov:#00F3BB;
$font-color-hamb-active:rgba(6,10,36,0.56);

// Background Colours:
$col-oscuro:#060A24;
$col-claro:#FFFFFF;
$bg-1:#FFFFFF;
$bg-hamb:#0000EC;
$bg-button: #00F3BB;
$bg-button-hov-1:#0000FE;
$bg-button-hov-2:#00F0B8;
$bg-gradient-1:#0000FF;
$bg-gradient-2:#0000A3;

// Standards:
$general-width: 320px;